:root {
  --basik-black: #000;
  --basik-light-black: #333;
  --basik-white: #fff;
  --basik-white-dark: #EEEEEE;
  --basik-white-deep: #F2F2F2;
  --basik-white-deep-2: #EBEBEB;
  --basik-blue: #81B3D2;
  --basik-blue-dark: #669EC0;
  --basik-blue-deepdark: #5496BD;
  --basik-brown: #766357;
  --basik-brown-dark: #604E43;
  --basik-brown-deepdark: #503E33;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basik-black);
  background-color: var(--basik-white);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.visually-hidden {
  visibility: hidden;
}

/* navigation */

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  display: flex;
}

.site-navigation {
  justify-content: space-around;
  display: flex;
  color: var(--basik-black);
  list-style: none;
  width: 100%;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basik-blue);
}

/* welcome */

.welcome {
  text-align: center;
  background-color: var(--basik-white-dark);
  background: url("../img/welcomeshape.jpg") no-repeat center;
  height: 509px;
}

.label {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

/* feature */

.pre-feature-text {
  text-align: center;
  color: var(--basik-light-black);
}

.feature-main-label {
  color: var(--basik-white);
  font-size: 21px;
  font-weight: bold;
}

.feature-label {
  color: var(--basik-black);
  font-weight: bold;
  font-size: 21px;
}

.feature-main-text {
  color: var(--basik-white);
}

.feature-text {
  color: var(--basik-light-black);
}

.feature-1 {
  background-color: var(--basik-blue);
}

.feature-2 {
  background-color: var(--basik-blue);
}

.feature-live::before {
  content: "";
  display: block;
  background: url("../img/icon-1.svg") no-repeat 50% 50%;
  width: 75px;
  height: 72px;
}

.feature-eat::before {
  content: "";
  display: block;
  background: url("../img/icon-2.svg") no-repeat 50% 50%;
  width: 75px;
  height: 70px;
}

.feature-souvenirs::before {
  content: "";
  display: block;
  background: url("../img/icon-3.svg") no-repeat 50% 50%;
  width: 64px;
  height: 77px;
}

/* form */

.form-question {
  font-weight: bold;
  line-height: 24px;
  font-size: 30px;
}

.form-question + p {
  color: var(--basik-light-black);
}

.search-form input {
  background-color: var(--basik-white-deep);
  border: none;
}

.search-form input:first-of-type,
.search-form input:nth-of-type(2) {
  height: 38px;
  width: 346px;
}

.search-form input:last-of-type,
.search-form input:nth-of-type(3) {
  height: 38px;
  width: 38px;
  text-align: center;
}
.search-form input:hover {
  background-color: var(--basik-white-deep-2);
}

.search-form input:focus {
  background-color: var(--basik-white);
}

.search-hotels {
  font: inherit;
  border: none;
  background-color: var(--basik-brown);
  color: var(--basik-white);
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  font-weight: bold;
}

.search-hotels:hover {
  background-color: var(--basik-brown-dark);
}

.search-hotels:active {
  background-color: var(--basik-brown-deepdark);
}

.search-form label {
  font: inherit;
  font-weight: bold;
  line-height: 26px;
}

.search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basik-white);
  background-color: var(--basik-blue);
  border: none;
  width: 458px;
  height: 58px;
}

.search:hover {
  background-color: var(--basik-blue-dark);
}

.search:active {
  background-color: var(--basik-blue-deepdark);
}

.button-more,
.button-less {
  border: none;
  background-color: var(--basik-white-deep);
  width: 38px;
  height: 38px;
}

.button-check-in,
.button-check-out {
  background-image: url("../img/calendar.svg");
  width: 21px;
  height: 23px;
  border: none;
}

.button-check-in:hover,
.button-check-out:hover {
  background-image: url("../img/calendar-hover.svg");
}

.button-check-in:active,
.button-check-out:active {
  background-image: url("../img/calendar-active.svg");
}

/* footer */

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

/* page hotels */

.hotels-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
}

header {
  grid-column: 1 / -1;
}

main {
  grid-column: 1 / -1;
}

footer {
  grid-column: 1 / -1;
}


/* filter */

.label-filter {
  font-weight: bold;
  font-size: 16px;
  color: var(--basik-white);
}

.filter-text {
  color: var(--basik-white);
}

.search-hotel {
  text-transform: uppercase;
  border: 2px solid var(--basik-white);
  border-radius: 2px;
  color: var(--basik-white);
  background-color: transparent;
  width: 137px;
  height: 36px;
}

.search-hotel:hover {
  background-color: var(--basik-white);
  color: var(--basik-black);
}

.checkbox-filter {
  width: 23px;
  height: 23px;
  background-color: transparent;
}

.checkbox-hotel:checked {
  background-color: transparent;
}

.filter-section {
  background: url("../img/filter.png") no-repeat;
  background-color: var(--basik-blue);
}

.searched {
  font-weight: bold;
  font-size: 21px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
}

.sort-label {
  font-size: 12px;
  line-height: 18px;
  color: var(--basik-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basik-blue);
}

.sort-label:hover {
  color: var(--basik-blue);
  opacity: 1;
}

.sort-label:active {
  color: var(--basik-black);
  opacity: 1;
}

.about {
  text-transform: uppercase;
  color: var(--basik-white);
  font-weight: bold;
  width: 110px;
  height: 27px;
  background-color: var(--basik-blue);
  border: none;
}

.about:hover {
  background-color: var(--basik-blue-dark);
}

.about:active {
  background-color: var(--basik-blue-deepdark);
  opacity: 0.3;
}

.book {
  text-transform: uppercase;
  color: var(--basik-white);
  font-weight: bold;
  width: 142px;
  height: 27px;
  background-color: var(--basik-brown);
  border: none;
}
