
:root {
  --basik-black: #000;
  --basik-light-black: #333;
  --basik-white: #fff;
  --basik-white-rgba: rgba(255, 255, 255, 0.3);
  --basik-white-dark: #EEEEEE;
  --basik-white-deep: #F2F2F2;
  --basik-white-deep-2: #EBEBEB;
  --basik-blue: #81B3D2;
  --basik-blue-dark: #669EC0;
  --basik-blue-deepdark: #5496BD;
  --basik-blue-deepdark-rgba: rgba(84, 150, 189, 0.3);
  --basik-brown: #766357;
  --basik-brown-dark: #604E43;
  --basik-brown-deepdark: #503E33;
  --basik-brown-deepdark-rgba: rgba(80, 62, 51, 0.3);
  --basik-main-background-color: #6aaee4;
  --basik-rating: #666666;
}


.line-1 {
  outline: 5px solid rgba(255, 0, 0.3);
  outline-offset: -5px;
}

.line-2 {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.line-3 {
  outline: 5px solid rgba(0, 0, 255, 0.3);
  outline-offset: -5px;
}


.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basik-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basik-black);
  background-color: var(--basik-white);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* main-header */

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* navigation */

.main-navigation {
  position: relative;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  list-style: none;
  padding-top: 15px;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
}

.site-navigation a {
  color: var(--basik-black);
}

.site-navigation li:nth-of-type(1) {
  flex-grow: 1;
  text-align: left;
}

.site-navigation li:nth-of-type(2) {
  flex-grow: 1;
  text-align: left;
}

.site-navigation li:nth-of-type(3) {
  flex-grow: 1;
  text-align: right;
}

.site-navigation li:nth-of-type(4) {
  flex-grow: 1;
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basik-blue);
}

.site-navigation a:active {
  color:  var(--basik-black);
  opacity: 0.3;
}

.site-navigation .active-page {
  color: var(--basik-brown);
}

/* main-body */

/* welcome */

.welcome {
  position: relative;
  margin-top: -15px;
  background-color: var(--basik-main-background-color);
  background: url("../img/background-index.jpg") no-repeat center;
  height: 509px;
}

.welcome::after {
  content: '';
  background-image: url("../img/shape.svg");
  width: 1201px;
  height: 57px;
  position: absolute;
  left: 0px;
  bottom: -1px;
}

.shape {
  position: absolute;
  top: 77px;
  left: 381px;
}

.label {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  margin-top: 41px;
  width: 470px;
  margin-left: auto;
  margin-right: auto;
}

/* feature */

.real-town {
  display: flex;
  flex-wrap: wrap;
}
.pre-feature-text {
  width: 519px;
  margin: 0 auto;
  color: var(--basik-light-black);
  line-height: 26px;
  margin-bottom: 53px;
}

.feature-main-label {
  color: var(--basik-white);
  font-size: 21px;
  font-weight: 700;
}

.feature-label {
  color: var(--basik-black);
  font-weight: 700;
  font-size: 21px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
}



.feature-main-text {
  color: var(--basik-white);
}

.feature-1 .feature-main-label {
  width: 122px;
  margin: 0 auto;
  margin-top: 42px;
}

.feature-1 .feature-main-text {
  width: 297px;
  margin: 0 auto;
  margin-top: 23px;
}

.feature-1-img {
  margin-bottom: -6px;
  padding: 0;
  background-color: var(--basik-blue);
  height: 256px;
}

.feature-1-text {
  flex-grow: 1;
  background-color: var(--basik-blue);
  min-height: 256px;
}

.feature-2 .feature-main-label {
  width: 152px;
  margin: 0 auto;
  margin-top: 50px;
}

.feature-2 .feature-main-text {
  width: 301px;
  margin: 0 auto;
  margin-top: 23px;
}

.feature-column {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 330px;
}



.feature-live,
.feature-eat,
.feature-souvenirs {
  flex-grow: 1;
}

.feature-live p {
  width: 254px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

.feature-souvenirs p {
  width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}

.feature-eat p {
  width: 297px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}


.feature-text {
  color: var(--basik-light-black);
}

.feature-1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.feature-2 {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basik-blue);
  width: 100%;
  min-height: 256px;
}

.feature-2-img {
  order: -1;
  margin-bottom: -6px;
  padding: 0;
}

.feature-2-text {
  flex-grow: 1;
}

.feature-live::before {
  content: "";
  display: block;
  background: url("../img/icon-1.svg") no-repeat 50% 50%;
  width: 75px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.feature-eat::before {
  content: "";
  display: block;
  background: url("../img/icon-2.svg") no-repeat 50% 50%;
  width: 75px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.feature-souvenirs::before {
  content: "";
  display: block;
  background: url("../img/icon-3.svg") no-repeat 50% 50%;
  width: 64px;
  height: 77px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.feature-3-4-5 {
  min-height: 256px;
  flex-grow: 1;
  padding-top: 47px;
  padding-bottom: 54px;
  box-sizing: border-box;
  background-color: var(--basik-white-dark);
}

.feature-3-4-5 p {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* form */

.form-question {
  font-weight: 700;
  line-height: 24px;
  font-size: 30px;
}

.form-question + p {
  color: var(--basik-light-black);
  width: 435px;
  margin: auto;
  margin-bottom: 25px;
  line-height: 24px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  padding: 55px;
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basik-white);
}

.search-form .date-check {
  width: 100%;
  min-width: 458px;
}

.search-form input {
  background-color: var(--basik-white-deep);
  border: none;
}

.date-check {
  display: flex;
  position: relative;
  min-width: 458px;
  align-items: center;
  justify-content: space-between;
}

.date-check input {
  padding-left: 12px;
  height: 38px;
  width: 346px;
  box-sizing: border-box;
}

.date-check input::placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basik-black);
  opacity: 1;
  transition: opacity 3s ease;

}


.search-form .check-button {
  height: 38px;
  width: 38px;
  text-align: center;
  box-sizing: border-box;
}
.search-form input:hover {
  background-color: var(--basik-white-deep-2);
}

.search-form input:focus {
  background-color: var(--basik-white);
}

.search-hotels {
  font: inherit;
  border: none;
  background-color: var(--basik-brown);
  color: var(--basik-white);
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotels:hover,
.search-hotels:focus {
  background-color: var(--basik-brown-dark);
}

.search-hotels:active {
  color: var(--basik-white-rgba);
  background-color: var(--basik-brown-deepdark);
}

.search-form label {
  font: inherit;
  font-weight: 700;
  line-height: 26px;
}

.search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basik-white);
  background-color: var(--basik-blue);
  border: none;
  width: 458px;
  height: 58px;
  text-transform: uppercase;
}

.search:hover,
.search:focus {
  background-color: var(--basik-blue-dark);
}

.search:active {
  color: var(--basik-white-rgba);
  background-color: var(--basik-blue-deepdark);
}

.button-more,
.button-less {
  border: none;
  background-color: var(--basik-white-deep);
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 0;
}

.date-check label {
  margin-right: 18px;
}

.parents-hotel {
  box-sizing: border-box;
  margin-right: 40px;
}

.child-hotel {
  box-sizing: border-box;
  margin-right: 30px;
}

.button-check {
  position: absolute;
  top: 20px;
  right: 15px;
  background: url("../img/calendar.svg") no-repeat;
  width: 21px;
  height: 23px;
  border: none;
}

.less-more {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  box-sizing: border-box;
}

.less-more div:nth-of-type(2) button:nth-of-type(2) {
  margin-right: 0px;
}

.button-check:hover {
  background-image: url("../img/calendar-hover.svg");
}

.button-check:active,
.button-check:focus {
  background-image: url("../img/calendar-active.svg");
}

/* footer */

.footer-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.smm {
  align-self: center;
}

li:nth-of-type(1) .social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;
}

li:nth-of-type(2) .social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;
}

li:nth-of-type(3) .social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;
}

.social-networks:hover,
.social-networks:focus {
  background-color: var(--basik-blue-dark);
}

.social-networks {
  background-color: var(--basik-blue);
}

.social-networks:active {
  background-color: var(--basik-blue-deepdark);
}

.social-networks:active path {
  opacity: 0.3;
}


.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.footer-contacts a{
  color: var(--basik-black);
}

.footer-column ul {
  display: flex;
}

.byacademy {
  display: flex;
  align-items: center;
}

.byacademy p {
  margin-right: 8px;
}

.logo-htmlacademy {
  background: url("../img/logo-htmlacademy.svg") no-repeat;
  width: 115px;
  height: 41px;
}

.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
  background: url("../img/logo-htmlacademy1.svg") no-repeat;
  width: 115px;
  height: 41px;
}

.logo-htmlacademy:active {
  background: url("../img/logo-htmlacademy2.svg") no-repeat;
  width: 115px;
  height: 41px;
}

/* page hotels */



/* filter */

.hotels-filter {
  display: flex;
}

.filter-1 {
  margin-left: 72px;
  margin-right: 119px;
  margin-top: 13px;
  margin-bottom: 31px;
}

.filter-2 {
  margin-left: 0;
  margin-top: 13px;
  margin-bottom: 31px;
}

.filter-3 {
  margin-left: 200px;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 31px;
}

.label-filter {
  font-weight: 700;
  font-size: 16px;
  color: var(--basik-white);
}

.filter-1,
.filter-2,
.filter-3 {
  flex-grow: 1;
  border: none;
  text-align: left;
}

.filter-3 {
  margin-right: 73px;
  width: 320px;
  height: 217px;
}
.sum-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sum {
  position: relative;
  display: flex;
  width: 100%;
  height: 36px;
  align-items: center;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  justify-content: space-around;
}

.sum input {
  width: 40px;
  height: 20px;
  text-align: center;
  color: var(--basik-white);
  background-color: transparent;
  border: none;
}

.stick {
  background: var(--basik-white);
  position: absolute;
  width: 2px;
  height: 22px;
  left: 159px;
}

.range-controls {
  position: relative;
  width: 317px;
  height: 28px;
  padding-top: 27px;
  margin-right: 10px;
  margin-left: 10px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--basik-white);
}

.range-controls .toggle-min {
  position: absolute;
  background-image: url("../img/toggle.svg");
  width: 19px;
  height: 21px;
  top: 18px;
  left: -10px;
  border-radius: 50%;
  border: none;
}

.range-controls .toggle-max {
  position: absolute;
  background-image: url("../img/toggle.svg");
  width: 19px;
  height: 21px;
  top: 18px;
  left: 240px;
  border-radius: 50%;
  border: none;
}

.toggle:hover,
.toggle:focus {
  background-image: url("../img/toggle-hover.svg");
  width: 23px;
  height: 24px;
  top: 17px;
}

.filter-text {
  color: var(--basik-white);
  margin-left: 14px;
}

/* search hotels */
.search-result {
  display: flex;
  position: relative;
  height: 81px;
}

.down-arrow {
  position: absolute;
  background: url("../img/down-arrow-1.svg") no-repeat right;
  right: 73px;
  top: 40px;
  width: 11px;
  height: 10px;
}

.up-arrow {
  position: absolute;
  background: url("../img/up-arrow-1.svg") no-repeat right;
  right: 96px;
  top: 40px;
  width: 11px;
  height: 10px;
}

.up-arrow:hover {
  background: url("../img/up-arrow-2.svg") no-repeat right;
}

.down-arrow:hover {
  background: url("../img/down-arrow-2.svg") no-repeat right;
}

.up-arrow:active {
  background: url("../img/up-arrow-3.svg") no-repeat right;
}

.down-arrow:active {
  background: url("../img/down-arrow-3.svg") no-repeat right;
}

.search-hotel {
  text-transform: uppercase;
  border: 2px solid var(--basik-white);
  border-radius: 2px;
  color: var(--basik-white);
  background-color: transparent;
  width: 137px;
  height: 36px;
}

.search-hotel:hover {
  background-color: var(--basik-white);
  color: var(--basik-black);
}

.checkbox-filter {

  width: 23px;
  height: 23px;
}

.checkbox-hotel:checked {
  background-color: transparent;
}

.filter-section {
  background: url("../img/filter.png") no-repeat;
  background-color: var(--basik-blue);
  width: 1200px;
  height: 217px;
  margin-top: -15px;
}

.searched {
  margin: 29px 46px 31px 73px;
  font-weight: 700;
  font-size: 21px;
}

.sort {
  margin: 31px 40px 37px 0;
  font-size: 12px;
  line-height: 18px;
}

.sort-index {
  font: inherit;
  display: flex;
}

.sort-label {
  display: block;
  margin: 32px 32px 36px 0;
}

.sort-label {
  font-size: 12px;
  line-height: 18px;
  color: var(--basik-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basik-blue);
}

.sort-label:hover {
  color: var(--basik-blue);
  opacity: 1;
}

.sort-label:active {
  color: var(--basik-black);
  opacity: 1;
}

.result {
  display: flex;
  flex-direction: column;
}

.about-hotel {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.star-4 {
  position: absolute;
  background: url("../img/star-4.svg") no-repeat;
  width: 91px;
  height: 17px;
  right: 71px;
  top: 29px;
}

.star-3 {
  position: absolute;
  background: url("../img/star-3.svg") no-repeat;
  width: 66px;
  height: 17px;
  right: 71px;
  top: 29px;
}

.star-2 {
  position: absolute;
  background: url("../img/star-2.svg") no-repeat;
  width: 42px;
  height: 17px;
  right: 71px;
  top: 29px;
}

.hotel-and-text {
  display: flex;
  flex-grow: 1;
}



.hotel-photo {
  margin-left: 71px;
  margin-right: 29px;
  margin-top: 30px;
  width: 135px;
  height: 90px;
}

.hotel-info p {
  display: inline-block;
  margin-right: 40px;
}

.result h3 a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basik-black);
}

.result h3 a:hover {
  color: var(--basik-blue);
}

.result h3 a:active {
  opacity: 0.3;
}

.hotel-info h3 {
  margin-top: 24px;
  margin-bottom: 0;
  padding: 0;
}

.rating {
  margin-top: 96px;
  margin-right: 73px;
  background-color: var(--basik-white-deep);
  padding: 2px 5px 2px 5px;
  color: var(--basik-rating);
}


.about {
  text-transform: uppercase;
  color: var(--basik-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  height: 27px;
  padding: 3px 16px 3px 17px;
  background-color: var(--basik-blue);
  border: none;
  box-sizing: border-box;
}

.about:hover {
  background-color: var(--basik-blue-dark);
}

.about:active {
  background-color: var(--basik-blue-deepdark);
  color: var(--basik-white-rgba);
}

.book {
  text-transform: uppercase;
  color: var(--basik-white);
  font-weight: 700;
  width: 142px;
  height: 27px;
  background-color: var(--basik-brown);
  border: none;
  padding: 3px 16px 3px 17px;
  box-sizing: border-box;
}

.book:hover {
  background-color: var(--basik-brown-dark);
}

.book:active {
  background-color: var(--basik-brown-deepdark);
  color: var(--basik-white-rgba);
}
